---
import Logo from "../assets/logo.svg";

const navLinks = [
  { href: "/", text: "Home" },
  { href: "/about", text: "About" },
  // { href: "/services", text: "Services" },
  { href: "/projects", text: "Projects" },
  { href: "/contact", text: "Contact" },
];

const currentPath = Astro.url.pathname;
---

<header
  class="sticky top-0 z-10 bg-base-100 bg-opacity-80 backdrop-blur-md shadow-lg"
>
  <div class="navbar container mx-auto">
    <div class="navbar-start">
      <a href="/" class="btn btn-ghost">
        <Logo height={40} width={40} />
      </a>
    </div>
    <div class="navbar-end">
      <div class="dropdown lg:hidden">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h7"></path>
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        >
          {
            navLinks.map(({ href, text }) => (
              <li>
                <a href={href} class:list={[currentPath === href && "active"]}>
                  {text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <ul class="menu menu-horizontal px-1 hidden lg:flex">
        {
          navLinks.map(({ href, text }) => (
            <li>
              <a
                href={href}
                class:list={[
                  "text-lg font-medium hover:text-primary transition-colors",
                  currentPath === href && "text-primary",
                ]}
              >
                {text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</header>
