---
import Logo from "../assets/logo.svg";

const navLinks = [
  { href: "/", text: "Home" },
  { href: "/about", text: "About" },
  // { href: "/services", text: "Services" },
  { href: "/projects", text: "Projects" },
  { href: "/contact", text: "Contact" },
];

const currentPath = Astro.url.pathname;
---

<header class="sticky top-0 z-10 bg-opacity-50 backdrop-blur-md shadow-lg">
  <nav class="container">
    <div class="flex items-center justify-between w-full">
      <!-- Brand -->
      <a href="/">
        <Logo height={64} width={64} />
      </a>
      <!-- Navigation Links -->
      <ul class="flex gap-4">
        {
          navLinks.map(({ href, text }) => (
            <li>
              <a
                href={href}
                aria-current={currentPath === href ? "page" : undefined}
              >
                {text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</header>
