<div class="hero min-h-[80vh] bg-base-200">
  <div class="hero-content flex-col md:flex-row-reverse gap-8">
    <div class="avatar">
      <div
        class="w-64 h-64 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2"
      >
        <img
          src="https://testaviva.dk/wp-content/uploads/2024/11/Benjamin1-1-scaled.jpg"
          alt="Benjamin's profile"
          width="256"
          height="256"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
    <div class="max-w-md">
      <h1 class="text-5xl font-bold" transition:persist transition:name="title">
        Hi, I'm Benjamin
      </h1>
      <p class="py-6 text-xl">
        A passionate web developer crafting beautiful and functional websites.
      </p>
      <a href="/contact" class="btn btn-primary">Get in Touch</a>
    </div>
  </div>
</div>
