---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h1 transition:name="document-builder">Document Builder (Name TBD)</h1>
  <p>
    A way to generate pdf documents based around user input that can be
    collected after creating a schema. It sounds complicated, but let's just say
    I was frustrated with an aspect of what we were doing at work and wanted to
    explore what it would take to do myself. Turns out a lot.
  </p>
</Layout>
