---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h1 transition:name="title" class="text-4xl font-bold mb-8">Projects</h1>
  <section>
    <p>
      In my eternal quest of learning and exploring I'm building all sorts of
      projects, ranging from one offs because I had an itch to flavour of the
      month type projects all the way up to rather ambitious platforms
    </p>
  </section>
  <section>
    <div class="flex flex-col gap-6">
      <h3 class="text-2xl font-semibold">The ambitious projects</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <article
          class="card bg-base-100 shadow-xl"
          transition:name="project-game-slam"
        >
          <div class="card-body">
            <h3 class="card-title" transition:name="game-slam">Game slam</h3>
            <div class="flex gap-2">
              <div class="badge badge-primary">In Development</div>
              <div class="badge">Web Platform</div>
              <div class="badge badge-outline">Next.js</div>
            </div>
            <p>
              A platform for creating and partaking in challenges to level up
              game developers while promoting artists
            </p>
            <div class="card-actions justify-end">
              <a href="projects/game-slam" class="btn btn-primary btn-sm"
                >Learn more</a
              >
            </div>
          </div>
        </article>

        <article
          class="card bg-base-100 shadow-xl"
          transition:name="project-cardbinder"
        >
          <div class="card-body">
            <h3 class="card-title" transition:name="cardbinder">Card Binder</h3>
            <div class="flex gap-2">
              <div class="badge badge-secondary">Live</div>
              <div class="badge">Collection Manager</div>
              <div class="badge badge-outline">React</div>
            </div>
            <p>
              A platform for managing and sharing card collections for card game
              enthusiasts, namely for Yugioh TCG
            </p>
            <div class="card-actions justify-end">
              <a href="projects/cardbinder" class="btn btn-primary btn-sm"
                >Learn more</a
              >
            </div>
          </div>
        </article>

        <article
          class="card bg-base-100 shadow-xl"
          transition:name="project-foldy"
        >
          <div class="card-body">
            <h3 class="card-title" transition:name="foldy">Foldy</h3>
            <div class="flex gap-2">
              <div class="badge badge-accent">Beta</div>
              <div class="badge">Language Learning</div>
              <div class="badge badge-outline">Mobile App</div>
            </div>
            <p>
              A companion app build for the refold method of learning languages
            </p>
            <div class="card-actions justify-end">
              <a href="projects/foldy" class="btn btn-primary btn-sm"
                >Learn more</a
              >
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <section>
    <div class="flex flex-col gap-6">
      <h3 class="text-2xl font-semibold">Scratching an itch type projects</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <article
          class="card bg-base-100 shadow-xl"
          transition:name="project-space-traders"
        >
          <div class="card-body">
            <h3 class="card-title" transition:name="space-traders">
              Space Traders
            </h3>
            <div class="flex gap-2">
              <div class="badge">Game Client</div>
              <div class="badge badge-outline">Vue.js</div>
            </div>
            <p>A GUI for a space game that is played through an API</p>
            <div class="card-actions justify-end">
              <a href="projects/space-traders" class="btn btn-primary btn-sm"
                >Learn more</a
              >
            </div>
          </div>
        </article>

        <article
          class="card bg-base-100 shadow-xl"
          transition:name="project-document-builder"
        >
          <div class="card-body">
            <h3 class="card-title" transition:name="document-builder">
              Document builder
            </h3>
            <div class="flex gap-2">
              <div class="badge">PDF Generator</div>
              <div class="badge badge-outline">Node.js</div>
            </div>
            <p>A way to generate pdf documents based around user input.</p>
            <div class="card-actions justify-end">
              <a href="projects/document-builder" class="btn btn-primary btn-sm"
                >Learn more</a
              >
            </div>
          </div>
        </article>

        <article
          class="card bg-base-100 shadow-xl"
          transition:name="project-qwidditch"
        >
          <div class="card-body">
            <h3 class="card-title" transition:name="qwidditch">Qwidditch</h3>
            <div class="flex gap-2">
              <div class="badge">Library</div>
              <div class="badge badge-outline">Qwik.js</div>
            </div>
            <p>A way of me contributing to the Qwik.js framework ecosystem</p>
            <div class="card-actions justify-end">
              <a href="projects/qwidditch" class="btn btn-primary btn-sm"
                >Learn more</a
              >
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</Layout>
